.navbar {
  list-style: none;
  width: 100%;
  background-color: $primary-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.4rem;

  &__item--logo {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .logo-top,
    .logo-bottom {
      width: 8rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 1.1rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: all 0.6s;
    }

    .logo-top {
      color: #ffffff;
      background-color: transparent;
    }

    .logo-bottom {
      color: $primary-color;
      background-color: #ffffff;
    }

    &:hover {
      .logo-top {
        color: $primary-color;
        background-color: #ffffff;
      }

      .logo-bottom {
        color: #ffffff;
        background-color: transparent;
      }
    }
  }

  &__item:first-child {
    flex-basis: 15%;
    margin: 1.5rem 2.5rem;
  }

  &__item:last-child {
    flex-basis: 60%;
    margin: 1.5rem 2.5rem;
    display: flex;
    justify-content: flex-end;
  }

  &__item:not(:first-child):not(:last-child) {
    width: 9.6rem;
    height: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: background 0.1s;

    a {
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      font-weight: 400;

      svg {
        width: 2rem;
        height: 2rem;
        fill: #ffffff;
      }
    }

    &:not(.disabled):hover,
    &:not(.disabled).active {
      background-color: #1e88e5;
    }

    &.disabled {
      opacity: 0.7;
      a {
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }
}

.instr {
  max-width: 1000px;
  margin: 3.3rem auto;
  padding: 3rem;
  padding-right: 18rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

  &__content {
    padding: 1.6rem;
    min-height: 13.2rem;
    width: 36rem;
    background-color: #ffffff;
    display: flex;
  }

  &__number {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $primary-color;
    font-size: 2.4rem;
    color: #ffffff;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: normal;
    margin-left: 1.6rem;
  }

  &__img {
    height: 100%;
  }
}

.reg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  &__window {
    width: 64rem;
    padding: 2.1rem;
    background-color: #fafafa;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 50%;
    }
  }

  &__label {
    position: relative;
    display: flex;
    padding: 1rem 5rem;
    padding-bottom: 0;
    width: 100%;
    background-color: rgba(33, 33, 33, 0.08);
    border-radius: 4px 4px 0px 0px;
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0;
    color: rgba(0, 0, 0, 0.38);
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(33, 33, 33, 0.15);

    svg {
      position: relative;
      fill: #018786;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      pointer-events: none;
      width: 2rem;
      height: 2rem;
    }

    &.active svg {
      opacity: 1;
      pointer-events: visible;
    }
  }

  &__input {
    background-color: transparent;
    border-color: transparent;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
    outline: none;
    font-size: 1.6rem;
  }

  &__form--avatar {
    width: 19.8rem;
    height: 19.8rem;
    flex-basis: 50%;
    cursor: pointer;
    fill: #757575;
  }

  &__buttons {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 8rem;

    & > *:first-child {
      margin-right: 2rem;
    }
  }
}

.game {
  &__container {
    max-width: 1000px;
    margin: 3.3rem auto;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__timer {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    font-weight: 500;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.4);
    padding: 1rem 8rem;
  }

  &__cards {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem;
  }

  &__card {
    perspective: 150rem;
    height: 18rem;
    width: 18rem;
    position: relative;
    cursor: pointer;

    &--front,
    &--back {
      height: 100%;
      width: 100%;
      transition: all 0.5s;
      overflow: hidden;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
      }
    }

    &--back {
      transform: rotateY(180deg);

      img {
        width: 100%;
        height: 100%;
        border: 1px solid #999;
      }
    }

    &.turned &--front {
      transform: rotateY(-180deg);
    }

    &.turned &--back {
      transform: rotateY(0);
    }

    &.turned.correct &--back::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(10, 207, 131, 0.5);
    }
  }
}

.rank {
  &__container {
    max-width: 1000px;
    min-height: 500px;
    margin: 3.3rem auto;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
    color: #333333;

    h3 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  &__item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 4rem;
      height: auto;
      border-radius: 50%;
      border: 1px solid #aaa;
      margin-right: 1.5rem;
    }
  }

  &__item-score span {
    color: $primary-color;
  }
}

.settings {
  &__container {
    max-width: 1000px;
    margin: 3.3rem auto;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }

  &__input {
    align-self: flex-start;
    width: 25rem;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    padding: 1.5rem 0;
    background-color: transparent;
    outline: none;
    margin-bottom: 3rem;
  }
}
